# This file contains sets of arguments that, when read by the
# icl_relation_lstm_param_search script, runs the specified
# commands on whatever gpu is free at that moment and continues
# until all the params specified here are run
#
# Current intra-caption relation parameter arguments and defaults are
# epochs            20
# batch_size        100
# hidden_lstm       200
# hidden_rel        150
# weighted_classes  False
# learn_rate        0.001
# adam_epsilon      1e-08
# clip_norm         5.0
# data_norm         False
# input_keep_prob   1.0
# other_keep_prob   1.0
# pair_enc_scheme   fist_last_sentence
# activation        relu



# relu_dropout8050_lstm300_rel900_weighted_norm
--input_keep_prob=0.8 --other_keep_prob=0.5 --hidden_lstm=300 --hidden_rel=900 --weighted_classes --data_norm
# 300 / 900 relu 5.0 1e-08 0.8 0.5 true false
--input_keep_prob=0.8 --other_keep_prob=0.5 --hidden_lstm=300 --hidden_rel=900 --weighted_classes
# 300 / 900 relu 5.0 1e-08 0.8 0.5 false true
--input_keep_prob=0.8 --other_keep_prob=0.5 --hidden_lstm=300 --hidden_rel=900 --data_norm
# 300 / 900 relu 5.0 1e-08 0.8 0.5 false false
--input_keep_prob=0.8 --other_keep_prob=0.5 --hidden_lstm=300 --hidden_rel=900






