##### Ablation config file for single mentions ######
# Format is a pipe-separated line of feature names
# such that all the features in that line are
# turned off together during a single ablation run
#   <feat name> | <feat name>

# Simple boolean features can be turned off individually
hasArticle
isSingular
isPlural
isSemi
hasCollective
hasMass
hasPortion

# hypernym bag-of-words can be turned off individually
hypernym_bow

# One-hot vectors can be turned off individually unless they're
# logically paired
lexical_type_onehot
left_preposition_onehot | right_preposition_onehot
left_chunk_type_onehot | right_chunk_type_onehot
modifier_onehot
numeric_onehot
head_onehot
nonvisual_lemma_onehot
pronoun_onehot
obj_of_onehot
subj_of_onehot
pronoun_type_onehot
coco_category_onehot


# The known quantity features should really only work together
knownQuantity_1 | knownQuantity_2 | knownQuantity_3 | knownQuantity_4 | knownQuantity_5 | knownQuantity_6

