##### Ablation config file for pairs of mentions ######
# Format is a pipe-separated line of feature names
# such that all the features in that line are
# turned off together during a single ablation run
#   <feat name> | <feat name>

# The simple matches should be individually useful, so
# test those one at a time (unless there's a logical pair)
caption_match
head_match
lemma_match
lex_type_match
lex_type_match_only | lex_type_match_other
out_dep_match
extent_match
substring_match
left_chunk_match | right_chunk_match
head_pos_match
obj_of_match
prp_match
head_not_lemma | lemma_not_head
is_subj_match
subj_of_match
det_plural_match
coco_cat_match
is_obj_match

# All the i/j pairs should be removed together
appositive_i | appositive_j
isSemi_i | isSemi_j
isMass_i | isMass_j
semi_pronom_i | semi_pronom_j
isSingular_i | isSingular_j
hasCollective_i | hasCollective_j
is_subj_i | is_subj_j
isPlural_i | isPlural_j
x_of_y_i | x_of_y_j
hasPortion_i | hasPortion_j
is_obj_i | is_obj_j
det_1_onehot | det_2_onehot
in_list_i | in_list_j
hasArticle_i | hasArticle_j

# This boolean feature tells us if i precedes j, and
# can be tested alone
antecedent_ij

# Hypernym Bag-of-words probably doesn't work, but test it regardless
hypernym_bow

# As with the matches, turn these off one at a time
# unless there's a logical pair
head_pair_onehot
numeric_pair_onehot
left_preposition_pair_onehot | right_preposition_pair_onehot
subj_of_onehot
modifier_pair_onehot
lemma_pair_onehot
left_pair_onehot | right_pair_onehot
categoryPair_onehot
lex_type_pair_onehot
obj_of_onehot

# The known quantity features should really only work together...
# 1) So let's test them in pairs...
# 2) And then all at once...
knownQuantity_i_1 | knownQuantity_j_1
knownQuantity_i_2 | knownQuantity_j_2
knownQuantity_i_3 | knownQuantity_j_3
knownQuantity_i_4 | knownQuantity_j_4
knownQuantity_i_5 | knownQuantity_j_5
knownQuantity_i_6 | knownQuantity_j_6

knownQuantity_i_1 | knownQuantity_j_1 | knownQuantity_i_2 | knownQuantity_j_2 | knownQuantity_i_3 | knownQuantity_j_3 | knownQuantity_i_4 | knownQuantity_j_4 | knownQuantity_i_5 | knownQuantity_j_5 | knownQuantity_i_6 | knownQuantity_j_6
